.add__movies {
    height: 166px;
    flex-direction: row;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
}

.add__button {
    height: 36px;
    width: 320px;
    border-radius: 6px;
    background-color: #2F2F2F;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    color: #FFFFFF;
    text-align: center;
    border: none;
    margin-top: 50px;
    margin-bottom: 80px;
    padding: 0;
}

@media screen and (max-width:320px) {
    .add__button {
        width: 240px;
    }
}

.saved__btn {
    height: 140px;
    background-color: #202020;

}