.header__burger-style {
    width: 44px;
    height: 44px;
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 6;
    display: none;
    background-color: #202020;
    background-repeat: no-repeat;
    outline: none;
    border: none;
}

@media (max-width: 768px) {
    .header__burger-style {
        display: flex;
        justify-content: space-around;
        flex-flow: column nowrap;
    }

    .header__burger-style_active {
        background-image: url(../../../images/close.svg);
    }

    .header__burger-style_disabled {
        background-image: url(../../../images/iconBurger.svg);
    }
}

@media screen and (max-width:320px) {
    .header__burger-style_active {
        top: 13px;
        right: 13px;
        background-position-x: right;
    }

    .header__burger-style_disabled {
        width: 40px;
        background-size: contain;
        height: 42px;
        right: 14px
    }
}