.header {
    width: 100%;
    margin: auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background: #073042;
    margin: 0;
}

.header__basic {
    width: 100%;
    margin: auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    display: grid;
    grid-template-columns: 1fr minmax(38px, 396px) 1fr;
    align-items: center;
    background: #202020;
}


@media screen and (max-width: 428px) {
    .header__basic {
        grid-template-columns: 1fr 38px 1fr;
    }
}

.header__link {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
}

.header__link:hover {
  opacity: 0.5;
}

.header__link:active {
    border-bottom: 1px solid #FFFFFF;
}


@media screen and (max-width: 768px) {
    .header__link {
        text-align: center;
        font-size: 18px;
        line-height: 22px;
    }
}

.header__link_home {
    display: none;
}

@media screen and (max-width:768px) {
    .header__link_home {
        display: block;
    }
}

.header__link_movie {
    padding-top: 0;
}

@media screen and (max-width:768px) {
    .header__link_movie {
        padding-top: 159px;
    }
}

@media screen and (max-width:320px) {
    .header__link_movie {
        padding-top: 144px;
    }
}

.header__link_open {
    margin-left: 30px;
    background-color: #3DDC84;
    padding-bottom: 8px;
    width: 76px;
    border-radius: 3px;
    text-align: center;
    color: #000000;
    padding-top: 8px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
   
}

@media screen and (max-width:320px) {
    .header__link_open {
        margin-left: 14px;
        font-size: 10px;
        width: 54px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.header__link_profile {
    border-radius: 20px;
    height: 32px;
    width: 100px;
    background-color: #313131;
    text-align: center;
    line-height: 32px;
    margin-right: 70px;
}

@media screen and (max-width: 768px) {
    .header__link_profile {
        margin-top: 621px;
        margin-right: 0;
    }
}

@media screen and (max-width:320px) {
    .header__link_profile {
        margin-top: 444px;
        margin-bottom: 46px;
    }
}

.header__link_register {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
}

@media screen and (max-width:320px) {
    .header__link_register {
        font-size: 10px;
    }
}

.header__link_saved-movies {
    margin-right: 50px;
    margin-left: 20px;
}

@media screen and (max-width:320px) {
    .header__link_saved-movies {
        margin: 0;
    }
}

.header__link-decor {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 16px;
    font-size: 14px;
    line-height: 18px;
}

.header__link-decor:active {
    border-bottom: 2px solid #FFFFFF;
    border-bottom: 7px;
}

@media screen and (max-width: 768px) {
    .header__link-decor {
        text-align: center;
        font-size: 18px;
        line-height: 22px;
    }
}

@media screen and (max-width:320px) {
    .header__link-decor__profile {
        font-size: 14px;
        line-height: 16px;
    }
}

.header__links_movies {
    flex-direction: row;
    justify-content: space-between;
    margin-right: 50px;
    list-style-type: none;
    margin-top: 0;
    padding: 0;
    margin-right: 0;
    display: flex;
    align-items: baseline;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .header__links_movies {
        flex-flow: column nowrap;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 520px;
        background: #202020;
        flex-direction: column;
        justify-content: flex-start;
        gap: 28px;
        z-index: 5;
        align-items: center;
    }

    .header__links_transform {
        transform: translateX(100%);
    }

    .header__links_transform-change {
        transition: transform 0.3s ease-in-out;
        transform: translateX(0px);
    }
}

@media screen and (max-width:320px) {
    .header__links_movies {
        width: 320px;
        gap: 24px;
        overflow: scroll;
    }
}

.header__links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 21px;
    width: 100%;
    grid-area: 1/4;
    margin-right: 70px;
    margin-bottom: 21px;
}

.header__links_disabled {
    display: none;
}

@media screen and (max-width:768px) {
    .header__links {
        margin-right: 30px;
    }
}

@media screen and (max-width:320px) {
    .header__links {
        margin-right: 14px;
    }
}

.header__logo_signup {
    margin: 0;
}

.header__logo {
    background-image: url(../../images/logo.svg);
    background-repeat: no-repeat;
    height: 38px;
    width: 44px;
    border-radius: 0px;
    margin-left: 70px;
    margin-top: 18px;
    margin-bottom: 18px;
    background-size: contain;
}

.header__logo:hover {
    opacity: 0.5;
}

.header__logo_active {
    background-image: url(../../images/logo.svg);
    background-repeat: no-repeat;
    height: 38px;
    width: 38px;
    border-radius: 0px;
    grid-area: 1/2;
    margin-top: 70px;
}

.header__logo_active:hover{
    opacity: 0.5;
}

@media screen and (max-width: 768px) {
    .header__logo {
        margin-left: 30px;
    }

    .header__logo_active {
        margin-top: 232px;
    }
}

@media screen and (max-width: 428px) {
    .header__logo_active{
        margin-top: 56px;
    }
}

@media screen and (max-width:320px) {
    .header__logo {
        margin-left: 14px;
    }
}

.header__signup {
    width: calc(100% - 884px);
    margin: auto;
    height: 217px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.header__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    color: #FFFFFF;
    margin-top: 40px;
    margin-bottom: 40px;
}